.search-wrapper {
  position: relative;
  width: 250px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50px;
  transform: translateY(-175%);
}

.search-input {
  padding-left: 35px;
  border-radius: 8px;
}

.table-header {
  background-color: #f8f9fa;
  color: #576068;
  font-size: 12.5px;
  text-transform: uppercase;
}

.table tbody tr td {
  border-top: 1px solid #f0f2f5;
}
.employee-name {
  font-weight: 600;
  color: #435ebe;
}
.employee-id {
  font-size: 0.85rem;
  color: #6c757d;
}
.badge {
  font-size: 0.8rem;
  padding: 6px 10px;
}
@media (max-width: 576px) {
  .table {
    font-size: 13px;
  }
  .employee-name {
    font-weight: 500;
  }
}
